

</html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

  <title>Calvin Brown</title>

  <meta name="author" content="" />
  <meta name="description" content="Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate">


<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap4.min.css" />
<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap-social.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://calvinbrown32.github.io/css/pygment_highlights.css" />

<link rel="stylesheet" href="https://calvinbrown32.github.io/css/main.css" />


<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

</head>
  <!-- The head should not be edited -->


<body>


<!-- This is the navbar and should not be edited -->
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand-custom" href="http://calvinbrown32.github.io">Calvin Brown</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">

   <!-- ** FUTURE ABOUT PAGE HERE:
        <li class="nav-item-custom">
          <a class="nav-link" href="https://calvinbrown32.github.io/resume">About</a> </li>
    ** -->

        <li class="nav-item-custom">
        <a class="nav-link" href="https://calvinbrown32.github.io/resume">Portfolio</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/essays">Essays</a> </li>

        <li class="nav-item-custom">
        <a class="nav-link" href="https://calvinbrown32.github.io/resume">Resume</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/contact">Contact</a> </li>

    </ul>
  </div>
</nav>

<!-- The header below should be modified or removed depending on the theme of the website.-->


<header class="header-section ">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-heading">
          <h1>Department of City Planning Area Map</h1>

            <hr class="small">
            <span class="page-subheading"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</header>

<!-- The main body content should be added here -->
<div class = "container">
<div class = "col-sm-12">

<p>
<strong>About The Project</strong> <br>
Commission for a DCP Area Map. I made the map using open data, QGIS and Illustrator following the standards set forth by the NYC Department of City Planning.
</p>
<br>

<img src="https://calvinbrown32.github.io/ResumeAndPortfolio/DCPAreaMapPortfolio-01.jpg" alt="neighborhoodandphasemap" class="center style= width:691px; height:451px;">
</div>


<center> <a href="https://calvinbrown32.github.io">home</a> </center>
</div>

<!-- The footer is straightforward and does not need to be modified. -->

  <footer>
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="list-inline text-center footer-links">

            <li class="list-inline-item">
                <a href="mailto:calvinbrown32@gmail.com" title="Email me"><span class="fa-stack                 fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Email me</span>
              </a>
            </li>

            <li class="list-inline-item">
             <a href="https://twitter.com/calvinbrown32" title="Twitter"><span class="fa-stack               fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Twitter</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.instagram.com/calvindechicago" title="Instagram"><span                     class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Instagram</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://linkedin.com/in/calvin-brown-467b4b33" title="LinkedIn"><span                  class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
        </ul>

      <p class="copyright text-muted">
      &nbsp;&bull;&nbsp;
      2021

      &nbsp;&bull;&nbsp;
      <a href="https://calvinbrown32.github.io">Calvin Brown</a>
      </p>

      </div>
    </div>
  </div>
</footer>

  </body>
</html>
