

</html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

  <title>Calvin Brown</title>

  <meta name="author" content="" />
  <meta name="description" content="Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate">


<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap4.min.css" />
<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap-social.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://calvinbrown32.github.io/css/pygment_highlights.css" />

<link rel="stylesheet" href="https://calvinbrown32.github.io/css/main.css" />


<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />


<style>

h4.adjust
{
line-height: 2;
}
h2.doubletracking{
    letter-spacing: 3px;
}
h3.doubletracking{
    letter-spacing: 3px;
}
h2.centerbyindent{
    text-indent: 150px
}
h2.lineheightadjust{
	line-height: 2;
}
h3.lineheightadjust{
	line-height: 2;
}
div.topmarginadjust{
margin-top: 80px;
}
</style>



</head>
  <!-- The head should not be edited -->


<body>


<!-- This is the navbar and should not be edited -->
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand-custom" href="http://calvinbrown32.github.io">Calvin Brown</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">

   <!-- ** FUTURE ABOUT PAGE HERE:
        <li class="nav-item-custom">
          <a class="nav-link" href="https://calvinbrown32.github.io/resume">About</a> </li>
    ** -->

        <li class="nav-item-custom">
        <a class="nav-link" href="https://calvinbrown32.github.io/resume">Portfolio</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/essays">Essays</a> </li>

        <li class="nav-item-custom">
        <a class="nav-link" href="https://calvinbrown32.github.io/resume">Resume</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/contact">Contact</a> </li>

    </ul>
  </div>
</nav>

<!-- The header below should be modified or removed depending on the theme of the website.-->


<header class="header-section ">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-heading">
          <h1>Golden Gate Bridge Bicycle Safety Study</h1>

            <hr class="small">
            <span class="page-subheading">Key insights into bicycle-involved collisions on the Golden Gate Bridge</span>
        </div>
      </div>
    </div>
  </div>
</div>
</header>

<!-- The main body content should be added here -->
<div class = "container">
<div class = "row">
<div class = "col-sm-12">

<h3 class="lineheightadjust doubletracking"> About the Project </h3>

    <p>
I conducted a bicycle safety study for the Golden Gate Bridge, Highway and Transportation District. I identified key insights regarding existing conditions, usage, and safety on the bridge sidewalks. The graphic presented on this page was made using Excel and Illustrator and shows the number of bicycle-involved collisions occurring along each of the bridges sidewalks. The full report can be found <a href="https://calvinbrown32.github.io/ResumeAndPortfolio/Golden_Gate_Bridge_Bicycle_Safety_Study.pdf">here</a>.



    </p>

</div>
</div>



<div class = "row">
<div class = "col-sm-12 text-center">


     <img src="https://calvinbrown32.github.io/ResumeAndPortfolio/GoldenGateCrashCount.png" alt="golden_gate" width= 90%/>


</div>
</div>

    <div class = "col-sm-12 text-center">
	<br>
	<br>
<a href="https://calvinbrown32.github.io">home</a>
</div>

</div>


<!-- The footer is straightforward and does not need to be modified. -->

  <footer>
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="list-inline text-center footer-links">

            <li class="list-inline-item">
                <a href="mailto:calvinbrown32@gmail.com" title="Email me"><span class="fa-stack                 fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Email me</span>
              </a>
            </li>

            <li class="list-inline-item">
             <a href="https://twitter.com/calvinbrown32" title="Twitter"><span class="fa-stack               fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Twitter</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.instagram.com/calvindechicago" title="Instagram"><span                     class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Instagram</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://linkedin.com/in/calvin-brown-467b4b33" title="LinkedIn"><span                  class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
        </ul>

      <p class="copyright text-muted">
      &nbsp;&bull;&nbsp;
      2021

      &nbsp;&bull;&nbsp;
      <a href="https://calvinbrown32.github.io">Calvin Brown</a>
      </p>

      </div>
    </div>
  </div>
</footer>

  </body>
</html>
