<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

  <title>Calvin Brown</title>

  <meta name="author" content="" />
  <meta name="description" content="Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate">


<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap4.min.css" />
<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap-social.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://calvinbrown32.github.io/css/pygment_highlights.css" />

<link rel="stylesheet" href="https://calvinbrown32.github.io/css/main.css" />


<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

</head>


  <body>

<!-- <nav class="navbar navbar-expand-md navbar-custom"> -->
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand-custom" href="http://calvinbrown32.github.io">Calvin Brown</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">

    <!-- ** FUTURE ABOUT PAGE HERE:
        <li class="nav-item-custom">
          <a class="nav-link" href="https://calvinbrown32.github.io/resume">About</a> </li>
    ** -->

   <!-- ** FUTURE ABOUT PAGE HERE:
        <li class="nav-item-custom">
        <a class="nav-link" href="http://127.0.0.1:5000/portfolio2">Portfolio</a> </li>
   ** -->
       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/essays">Essays</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/resume">Resume</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/contact">Contact</a> </li>

    </ul>
  </div>
</nav>


<header class="header-section ">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-heading">
          <h1>Calvin Brown</h1>

            <hr class="small">
            <span class="page-subheading">Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate</span>
        </div>
      </div>
    </div>
  </div>
</div>
</header>


<div class="container">
<div class="row align-items-center">

<div class="col-sm-4 text-center py-4">
        <img src="https://calvinbrown32.github.io/ResumeAndPortfolio/Jupyter_Binder_Mode_Share.jpg" alt="jupyter_binder_static" class="align-middle" width = "400" height = "auto" onmouseover="this.src= 'https://calvinbrown32.github.io//ResumeAndPortfolio/Jupyter_Binder_Mode_Share.gif';" onmouseout="this.src='https://calvinbrown32.github.io//ResumeAndPortfolio/Jupyter_Binder_Mode_Share.jpg';"/>
<h6 class="adjust"><a href="https://calvinbrown32.github.io/jupyter_mode_share">Automating Data and GIS Analysis Using Python</a> <br>
		<small><i>I created a tool that automates the downloading, processing, and visual communication of census mode data.</small></i></h6>
    </div>


    <div class="col-sm-4 text-center">
<img src="https://calvinbrown32.github.io/ResumeAndPortfolio/last_subway2.png" alt="last_subway" width = "200" height = "auto" >
      <h6 class="adjust"><a href="https://calvinbrown32.github.io/last_stop">Custom Maps for <i>Last Subway</i></a><br>
	<small><i>I designed 10 custom maps for Philip Plotch's <i>Last Subway: The Long Wait for the Next Train in New York City</i>, published and available at <a href="https://www.cornellpress.cornell.edu/book/9780801453663/last-subway/">Cornell University Press</a>.</small></i>
      </h6>
    </div>

    <div class="col-sm-4 text-center">
<img src="https://calvinbrown32.github.io/ResumeAndPortfolio/Arrow_Hwy_Crashes.png" alt="last_subway" width = "400" height = "auto" >
        <h6 class="adjust"><a href="http://127.0.0.1:5000/arrow_highway"> Arrow Highway Multimodal Regional Corridor Plan </a><br>
	<small><i>Pedestrian and bicycle improvements along or near Arrow Highway to improve east-west connectivity and safety within Glendora, San Dimas, La Verne, Pomona, and Claremont, CA </small></i>
      </h6>
    </div>


<!-- spacer row -->
<div class="row">
	<div class="col spacer30">
	</div>
</div>


<div class="row align-items-center">

    <div class="col-sm-4 text-center py-4">
        <img src="https://calvinbrown32.github.io/ResumeAndPortfolio/GoldenGateCrashCount.png" alt="golden_gate" width = "250" height = "auto"/>
   <h6 class="adjust"><a href="https://calvinbrown32.github.io/golden_gate_study">Golden Gate Bridge Bicycle Safety Study</a> <br>
		<small><i>I conducted a bicycle safety study for the Golden Gate Bridge, Highway and Transportation District.</small></i></h6>
	</div>

    <div class="col-sm-4 text-center py-4">
        <img src="https://calvinbrown32.github.io/ResumeAndPortfolio/trimet_4.png" alt="trimet" width = "400" height = "auto" onmouseover="this.src= 'https://calvinbrown32.github.io//ResumeAndPortfolio/trimet_4.gif';" onmouseout="this.src='https://calvinbrown32.github.io/ResumeAndPortfolio/trimet_4.png';"/>
   <h6 class="adjust"><a href="https://calvinbrown32.github.io/trimet">TriMet Residential Coverage Analysis</a> <br>
		<small><i>Residential coverage analysis of Trimet's bus route 2 and Max Yellow Line.</small></i></h6>
	</div>

<div class="col-sm-4 text-center py-4 ">
<img src="https://calvinbrown32.github.io/ResumeAndPortfolio/commute_4.png" alt="commute" width = "400" height = "auto" onmouseover="this.src= 'https://calvinbrown32.github.io//ResumeAndPortfolio/commute_4.gif';" onmouseout="this.src='https://calvinbrown32.github.io//ResumeAndPortfolio/commute_4.png';"/>
<h6 class="adjust"><a href="https://calvinbrown32.github.io/ManhattanCommute">The Commute Into Manhattan</a> <br>
		<small><i>Interactive web map and graph that show that the majority of people who commute into Manhattan do so on transit.</small></i></h6>
	</div>
	</div>


<div class="row align-items-center">

    <div class="col-sm-4 text-center py-4">
        <img src="https://calvinbrown32.github.io/ResumeAndPortfolio/DCPAreaMapPortfolio-01.jpg" alt="dcpareamap" width = "250" height = "auto"/>
   <h6 class="adjust"><a href="https://calvinbrown32.github.io/dcp_area_map">Department of City Planning Area Map</a> <br>
		<small><i>Commission for a DCP Area Map. I made the map using open data, QGIS and Illustrator following the standards set forth by the NYC Department of City Planning.</small></i></h6>
	</div>


</div>
</div>

</body>

	<!--
-->
    </div>
  </div>
</div>


  <footer>
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="list-inline text-center footer-links">

            <li class="list-inline-item">
                <a href="mailto:calvinbrown32@gmail.com" title="Email me"><span class="fa-stack                 fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Email me</span>
              </a>
            </li>

            <li class="list-inline-item">
            <a href="https://twitter.com/calvinbrown32" title="Twitter"><span class="fa-stack               fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Twitter</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.instagram.com/calvindechicago" title="Instagram"><span                     class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Instagram</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://linkedin.com/in/calvin-brown-467b4b33" title="LinkedIn"><span                  class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
        </ul>

      <p class="copyright text-muted">

      &nbsp;&bull;&nbsp;
      2021

      &nbsp;&bull;&nbsp;
      <a href="https://calvinbrown32.github.io">Calvin Brown</a>


      </p>

      </div>
    </div>
  </div>
</footer>




  </body>
</html>
