

</html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

  <title>Calvin Brown</title>

  <meta name="author" content="" />
  <meta name="description" content="Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate">


<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap4.min.css" />
<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap-social.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://calvinbrown32.github.io/css/pygment_highlights.css" />

<link rel="stylesheet" href="https://calvinbrown32.github.io/css/main.css" />


<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

<link href="https://calvinbrown32.github.io/css/resumecss.css" rel="stylesheet" type="text/css" />

</head>
  <!-- The head should not be edited -->


<body>


<!-- This is the navbar and should not be edited -->
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand-custom" href="http://calvinbrown32.github.io">Calvin Brown</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">

   <!-- ** FUTURE ABOUT PAGE HERE:
        <li class="nav-item-custom">
          <a class="nav-link" href="https://calvinbrown32.github.io/resume">About</a> </li>
    ** -->

        <li class="nav-item-custom">
  <a class="nav-link" href="https://calvinbrown32.github.io/resume">Portfolio</a> </li>

        <li class="nav-item-custom">
         <a class="nav-link" href="https://calvinbrown32.github.io/resume">Resume</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/essays">Essays</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/contact">Contact</a> </li>

    </ul>
  </div>
</nav>

<!-- The header below should be modified or removed depending on the theme of the website.-->

<!-- ** THE RESUME PAGE DOES NOT USE THE HEADER
<header class="header-section ">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-heading">
          <h1>Calvin Brown</h1>

** THE RESUME PAGE DOES NOT USE THE HEADER  -->

            <hr class="small">
            <span class="page-subheading">Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate</span>
        </div>
      </div>
    </div>
  </div>
</div>
</header>

<!-- The main body content should be added here -->
		<div class="Basic-Text-Frame">
			<p class="Basic-Paragraph"><span class="CharOverride-1">Calvin Brown</span></p>
		</div>
		<div class="Basic-Text-Frame">
			<p class="Basic-Paragraph"><span class="JobLocation CharOverride-2">Brooklyn, NY <b>|</b> 917-975-9093</span></p>
			<p class="Basic-Paragraph"><span class="JobLocation CharOverride-2"> <a href="mailto:calvinbrown32@gmail.com">calvinbrown32@gmail.com</a></span></p>
		</div>
		<br>
		<div class="_idGenObjectStyleOverride-1">
			<p class="Basic-Paragraph"><span class="ResumeSections">Education</span></p>
		</div>
		<div class="Basic-Text-Frame">
			<p class="Basic-Paragraph"><span class="JobTitle">Hunter College, UPP <b>|</b> Master of Urban Planning <b>|</b> 2017</span></p>
			<p class="Basic-Paragraph"><span class="JobTitle">University of Illinois at Chicago <b>|</b> B.A. in English <b>|</b> 2010</span></p>
		</div>
		<br>
		<div class="_idGenObjectStyleOverride-1">
			<p class="Basic-Paragraph"><span class="ResumeSections">Skills</span></p>
		</div>
		<div class="_idGenObjectStyleOverride-1">
			<p class="Basic-Paragraph"><span class="JobLocation CharOverride-3">Languages <b>|</b></span><span class="CharOverride-4"> </span><span class="JobTitle">English, Spanish</span></p>

			<p class="Basic-Paragraph"><span class="JobLocation CharOverride-3">Software <b>|</b></span>
			<span class="JobTitle"> QGIS, ArcGIS Pro, Python, JavaScript, Jupyter Notebook, Git, Pandas, SQL,
PostGIS, Flask, Excel, InDesign, Illustrator, Photoshop, SketchUp, AutoCAD </span>
		</div>
		<br>
		<div class="_idGenObjectStyleOverride-1">
			<p class="Basic-Paragraph"><span class="ResumeSections">Experience</span></p>
		</div>

		<div class="Basic-Text-Frame">


				<p class="Basic-Paragraph"><span class="JobTitle">Civic Data Analyst and Planner | Alta Planning + Design</span></p><p class="Basic-Paragraph"><span class="JobLocation">Sacramento | July 2019 - March 2021</span></p>
			<li class="JobBullets"><span class="JobDescription">Led data analysis and created written content and visual graphics for dozens of nationwide active transportation projects and grant applications in close collaboration with multidisciplinary teams, project managers, clients, and public advocacy groups. Products we delivered were awarded grant funding and adopted by cities and counties.
</span></li>
			<li class="JobBullets"><span class="JobDescription">Developed Python tools that automated data collection and analyses, workflows, and graphics production. These tools were used on multiple projects nationwide, and expanded Alta’s capacity to deliver stronger, more consistent products within budget.
</span></li>
			<li class="JobBullets"><span class="JobDescription">Used GIS, Python, Jupyter Notebook, PostGIS, Excel, and other tools to analyze data and communicate finding in the form of maps, tables, graphics, and written reports.
</span></li>
			<li class="JobBullets"><span class="JobDescription">Worked with a wide array of demographics and transportation data including data from the U.S. Census, LEHD, OpenStreetMap, GTFS, Streetlight, Replica, and Ecopia to identify and visualize critical insights about the built environment, transportation networks and the people they serve.
</span></li>

			<li class="JobBullets"><span class="JobDescription">Presented active transportation projects to California communities and led outreach events.
			</span></li>

		<br>
				<p class="Basic-Paragraph"><span class="JobTitle">Policy Analyst | Tri-State Transportation Campaign</span></p><p class="Basic-Paragraph"><span class="JobLocation">NYC | November 2018 - July 2019</span></p>
			<li class="JobBullets"><span class="JobDescription">Proactively undertook data analysis projects, and marshalled analysis findings to create insightful graphics and reports that illustrated TSTC advocacy positions and policy implications.</span>
			<li class="JobBullets"><span class="JobDescription">Helped organize and host a packed room transit panel discussion that included State Senators Alessandra Biaggi, Julia Salazar, Jessica Ramos, and Andrew Gounardes.</span></li>

		<br>
				<p class="Basic-Paragraph"><span class="JobTitle">Cartographer | Philip Plotch and Cornell University Press</span></p><p class="Basic-Paragraph"><span class="JobLocation">NYC | August 2018 - July 2019</span></p>
			<li class="JobBullets"><span class="JobDescription">Created ten custom maps for Philip Plotch’s <i>Last Subway: The Long Wait for the Next Train in New York City</i>, published and available at <a href="https://www.cornellpress.cornell.edu/book/9780801453663/last-subway/">Cornell University Press</a>.</span>
			<li class="JobBullets"><span class="JobDescription">Worked in close collaboration with Philip Plotch and the Cornell University Press team to develop elegant maps that clearly illustrated key elements of the book’s narrative while adhering to page layout and printing limitations.</span>

					<br>
					<br>
			<p class="Basic-Paragraph"><span class="JobTitle">Ambassador | Transportation Alternatives</span><span class="JobTitle"> </span></p>
			<p class="Basic-Paragraph"><span class="JobLocation">NYC | July 2018 - September 2018</span></p>
				<li class="JobBullets"><span class="JobDescription">Engaged community members in all five boroughs in both English and Spanish, promoting policies and street designs that prioritize walking, transit, and cycling, and collecting petition signatures for a number of successful Transportation Alternatives campaigns.</span></li>
				<li class="JobBullets"><span class="JobDescription">Bolstered TA’s social media presence and used social media to amplify community members’ voices, raise awareness of traffic safety and access issues, and engage with elected officials.</span></li>
					<br>

			<p class="Basic-Paragraph"><span class="JobTitle">Fleet Team Leader | I-GO Car Sharing </span></p>
			<p class="Basic-Paragraph"><span class="JobLocation">Chicago | 2011 - 2012</span></p>
				<li class="JobBullets"><span class="JobDescription">Helped manage the general maintenance of over 250 shared vehicles. </span></li>
				<li class="JobBullets"><span class="JobDescription">Implemented system to log and track fleet issues and service visits.</span><p class="Basic-Paragraph">
					<br>

			<p class="Basic-Paragraph"><span class="JobTitle">Bicycling Ambassador | City of Chicago </span></p>
			<p class="Basic-Paragraph"><span class="JobLocation">Chicago | 2010 - 2011</span></p>
				<li class="JobBullets"><span class="JobDescription">Promoted cycling culture through outreach events.</span></li>
				<li class="JobBullets"><span class="JobDescription">Led bicycle and traffic safety events with local elected officials and community leaders.</span></li>
				<li class="JobBullets"><span class="JobDescription">Wrote and distributed surveys to acquire feedback on new infrastructure.</span><p class="Basic-Paragraph">
					<br>

			<p class="Basic-Paragraph"><span class="JobTitle">Translator and English Teacher </span></p>
			<p class="Basic-Paragraph"><span class="JobLocation">Chicago, NYC, Madrid, and Santiago de Chile | 2009 - July 2018</span></p>
				<li class="JobBullets"><span class="JobDescription">Translated manuals, brochures, and other literature from English to Spanish.</span></li>
				<li class="JobBullets"><span class="JobDescription">Taught English classes to diverse groups of all ages and backgrounds.</span></li>
				<li class="JobBullets"><span class="JobDescription">Developed curricula and lesson plans for learners of all levels.</span></li>
					<br>
					<br>
			<center> <a href="https://calvinbrown32.github.io">home</a> </center>
		</div>
	</body>

<!-- The footer is straightforward and does not need to be modified. -->

  <footer>
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="list-inline text-center footer-links">

            <li class="list-inline-item">
                <a href="mailto:calvinbrown32@gmail.com" title="Email me"><span class="fa-stack                 fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Email me</span>
              </a>
            </li>

            <li class="list-inline-item">
            <a href="https://twitter.com/calvinbrown32" title="Twitter"><span class="fa-stack               fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Twitter</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.instagram.com/calvindechicago" title="Instagram"><span                     class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Instagram</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://linkedin.com/in/calvin-brown-467b4b33" title="LinkedIn"><span                  class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
        </ul>

      <p class="copyright text-muted">
      &nbsp;&bull;&nbsp;
      2021

      &nbsp;&bull;&nbsp;
      <a href="https://calvinbrown32.github.io">Calvin Brown</a>
      </p>

      </div>
    </div>
  </div>
</footer>

  </body>
</html>
